In [ ]:
# Column Transformer

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [ ]:
df = pd.read_csv('/content/covid_toy - covid_toy.csv')

In [ ]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [ ]:
df.isna().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test = train_test_split(df.drop(
columns = ['has_covid' ]) , df['has_covid'] , test_size = 0.2)

In [ ]:
x_train

    age  gender  fever   cough       city
6    14    Male  101.0  Strong  Bangalore
94   79    Male    NaN  Strong    Kolkata
60   24  Female  102.0  Strong  Bangalore
47   18  Female  104.0    Mild  Bangalore
85   16  Female  103.0    Mild  Bangalore
..  ...     ...    ...     ...        ...
19   42  Female    NaN  Strong  Bangalore
43   22  Female   99.0    Mild  Bangalore
50   19    Male  101.0    Mild      Delhi
48   66    Male   99.0  Strong  Bangalore
44   20    Male  102.0  Strong      Delhi

[80 rows x 5 columns]

In [ ]:
# adding simple imputer to fever column
si = SimpleImputer(strategy = "mean")
x_train_fever = si. fit_transform(x_train[ ['fever']])

# also the test data
x_test_fever = si.fit_transform(x_test[['fever']])

x_train_fever.shape

(80, 1)

In [ ]:
# Ordinal Encoding -- > Cough

oe = OrdinalEncoder(categories = [['Mild' , 'Strong' ]])
x_train_cough = oe.fit_transform(x_train[['cough' ]])

# also the test data
x_test_cough = oe.fit_transform(x_test[['cough']])

x_train_cough. shape

(80, 1)

In [ ]:
# OneHotEncoding -- > Gender , city

ohe = OneHotEncoder(drop = 'first' , sparse_output = False )
x_train_gender_city = ohe.fit_transform(x_train[['gender' , 'city' ]])

# also the test data
x_test_gender_city = ohe.fit_transform(x_test[['gender' , 'city' ]])

x_train_gender_city. shape

(80, 4)

In [ ]:
# also the test data

x_test_age = x_test.drop(columns =
['gender' , 'fever' , 'cough' , 'city' ]). values

# Extracting Age

x_train_age = x_train.drop(columns =
['gender' , 'fever' , 'cough' , 'city' ]). values

In [ ]:
x_train_age.shape

(80, 1)

In [ ]:
x_train_transformed = np.concatenate((x_train_age , x_train_fever ,
x_train_gender_city ,
x_train_cough) , axis = 1)

In [ ]:
x_train_transformed.shape

(80, 7)

In [ ]:
from sklearn.compose import ColumnTransformer  # This is how to import ColumnTransformer

transformer = ColumnTransformer(transformers=[
      ('tnf1',SimpleImputer(),['fever']), # In a fever column by the helop of SimpleImputer we fill missing values by mean, median,mode

      ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]), ['cough']), # by this process we encode our data .
      ('tnf3',OneHotEncoder(sparse_output=False, drop='first'), ['gender','city' ])
      ],remainder='passthrough') # remainder = passthrough == >

# it means rest all the columns remain same .

In [ ]:
transformer.fit_transform(x_train).shape

(80, 7)

In [ ]:
transformer.transform(x_test).shape

(20, 7)