In [ ]:
# How Machine Learning Works ?????
# Data Gathering --- > Data Dividation --- > Data Cleaning and Preprocessing ---- >
# Select a ML model --- > Model training --- > Model Prediction --- > Model Perfornace Evaluation.

In [ ]:
# Data(df) --- > x(Independent data) + y(Dependent or target data)
# x ---- > x_train , x_test
# y --- > y_train , y_test

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('/content/covid_toy - covid_toy.csv')
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [ ]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [ ]:
df['fever']=df['fever'].fillna(df['fever'].mean())

In [ ]:
df.shape

(100, 6)

In [ ]:
x = df.drop(columns = ['has_covid'])      #### Independent data
x.shape

(100, 5)

In [ ]:
y = df ['has_covid']      ### target data
y.shape

(100,)

In [ ]:
# ! pip install scikit-learn

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test,y_train , y_test = train_test_split(x,
                                                    y,
                                                    test_size=0.2,
                                                    random_state=42)

In [ ]:
print("Total shape of df:", df.shape)
print("-----------------------")
print("Input data shape:", x.shape)
print("x_train data shape:", x_train.shape)
print("x_test data shape:", x_test.shape)
print(" ----------------------")
print("Target data shape:", y.shape)
print("y_train data shape:", y_train. shape)
print("y_test data shape:", y_test. shape)
print("-----------------------")

Total shape of df: (100, 6)
-----------------------
Input data shape: (100, 5)
x_train data shape: (80, 5)
x_test data shape: (20, 5)
 ----------------------
Target data shape: (100,)
y_train data shape: (80,)
y_test data shape: (20,)
-----------------------

In [ ]:
df=pd.read_csv("/content/titanic - titanic.csv")
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S

In [ ]:
df.shape

(418, 12)

In [ ]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [ ]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [ ]:
df['Fare'] = df['Fare'].fillna(df['Fare'].mean())

In [ ]:
# df = df.drop(columns = ['Cabin'])

In [ ]:
df.shape

(418, 11)

In [ ]:
x = df.drop(columns = ['Survived'])      #### Independent data
x.shape

(418, 10)

In [ ]:
y = df ['Survived']      ### target data
y.shape

(418,)

In [ ]:
x_train, x_test,y_train , y_test = train_test_split(x,
                                                    y,
                                                    test_size=0.2,
                                                    random_state=42)

In [ ]:
print("Total shape of df:", df.shape)
print("-----------------------")
print("Input data shape:", x.shape)
print("x_train data shape:", x_train.shape)
print("x_test data shape:", x_test.shape)
print(" ----------------------")
print("Target data shape:", y.shape)
print("y_train data shape:", y_train. shape)
print("y_test data shape:", y_test. shape)
print("-----------------------")

Total shape of df: (418, 11)
-----------------------
Input data shape: (418, 10)
x_train data shape: (334, 10)
x_test data shape: (84, 10)
 ----------------------
Target data shape: (418,)
y_train data shape: (334,)
y_test data shape: (84,)
-----------------------

In [ ]:
df=pd.read_csv('/content/Attrition - Attrition.csv')
df.head(2)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7

In [ ]:
df.shape

(1470, 35)

In [ ]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [ ]:
x = df.drop(columns = ['Attrition'])      #### Independent data
x.shape

(1470, 34)

In [ ]:
y=df['Attrition']              #### dependent data
y.shape

(1470,)

In [ ]:
x_train, x_test,y_train , y_test = train_test_split(x,
                                                    y,
                                                    test_size=0.2,
                                                    random_state=42)

In [ ]:
print("Total shape of df:", df.shape)
print("-----------------------")
print("Input data shape:", x.shape)
print("x_train data shape:", x_train.shape)
print("x_test data shape:", x_test.shape)
print(" ----------------------")
print("Target data shape:", y.shape)
print("y_train data shape:", y_train. shape)
print("y_test data shape:", y_test. shape)
print("-----------------------")

Total shape of df: (1470, 35)
-----------------------
Input data shape: (1470, 34)
x_train data shape: (1176, 34)
x_test data shape: (294, 34)
 ----------------------
Target data shape: (1470,)
y_train data shape: (1176,)
y_test data shape: (294,)
-----------------------

In [ ]:
# | Data Type Combination      | Recommended Plots             |
# | -------------------------- | ----------------------------- |
# | Numerical vs Numerical     | Line, Scatter, Histogram, Box |
# | Categorical vs Numerical   | Bar, Box, Violin              |
# | Categorical vs Categorical | Bar (count), Stacked Bar      |
# | Single Numerical           | Histogram, Box                |
# | Single Categorical         | Bar (count)                   |